*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* variables*/
body{
    --blue: #93B5C9;
    --wine:#AB2849;
}
nav{
    background: var(--blue);
    height: 10vh;
    width: 100vw;
    float: left;

}
header{
    clear: both;
    background: var(--wine);
    height: 20vh;
    width: 100vw;
    float: left;
}
section{
    clear: both;
    margin: 2vh 20vh 0 20vh ;
    height: 100%;
}
section > *{
    height: 12vh;
    width: 100%;
    margin: 20px 0 ;
}
.barra{
    display: block;
    float: left;
    width: 100%;
    background: var(--wine);
}

.float{
    float: right;
    background: var(--wine);
    height: 12vh;
    width: 49.5%;
}
.float2{
    float: left;
    background: var(--wine);
    height: 12vh;
    width: 49.5%;
    
}
div[espacio="p1"] {
    margin: 0 0 20px 0;
}

footer{
    clear: both;
    height: 10vh;
    width: 100vw;
    background: var(--wine);
    margin: 0 0 1vh 0;
}